<!-- <h3 class="title">{{ title }}</h3> -->
<mat-toolbar  style="height: 50px; margin-bottom: 1%;" color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div >
      <a class="links button" href="admin/add-item">Add Item</a>
      <a class="links button" href="#news">News</a>
      <a class="links button" href="#contact">Contact</a>
      <a class="links button" href="#about">About</a>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>
