<mat-card class="example-card">
  <mat-card-title>{{ formTitle }}</mat-card-title>
  <mat-card-content class="content">
    <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <p>
      <mat-form-field [style.width.px]="327" appearance="legacy">
        <mat-label>Item Group</mat-label>
        <mat-select name="itemGroup" ngModel #group="ngModel" required>
          <mat-option *ngFor="let item of itemType" [value]="item?.id">
            {{ item?.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <div *ngIf="!group.valid && group.touched" style="color: red">
      <p *ngIf="group.errors?.required">Item group required</p>
    </div>
      <p>
        <mat-form-field [style.width.px]="327" appearance="legacy">
          <mat-label>Item Name</mat-label>
          <input
            type="text"
            class="input-size"
            name="itemName"
            ngModel
            matInput
            required
            #itemName="ngModel"
          />
        </mat-form-field>
      </p>
      <div *ngIf="!itemName.valid && itemName.touched" style="color: red">
        <p *ngIf="itemName.errors?.required">Item Name required</p>
      </div>
      <p>
        <mat-form-field [style.width.px]="327" appearance="legacy">
          <mat-label>Type</mat-label>
          <input
            type="text"
            class="input-size"
            name="itemType"
            ngModel
            matInput
            required
            #type="ngModel"
          />
        </mat-form-field>
      </p>
      <div *ngIf="!type.valid && type.touched" style="color: red">
        <p *ngIf="type.errors?.required">Item type required</p>
      </div>
      <p>
        <mat-form-field [style.width.px]="327" appearance="legacy">
          <mat-label>Available Quantity</mat-label>
          <input
            type="number"
            class="input-size"
            name="itemQuantity"
            ngModel
            #quantity="ngModel"
            matInput
            required
            min="1"
          />
        </mat-form-field>
      </p>
      <div *ngIf="!quantity.valid && quantity.touched" style="color: red">
        <p *ngIf="quantity.errors?.required">Item quantity required</p>
        <p *ngIf="quantity.errors?.min">Invalid quantity entered</p>
      </div>
      <p>
        <mat-form-field [style.width.px]="327" appearance="legacy">
          <mat-label>Price</mat-label>
          <input
            type="number"
            class="input-size"
            name="itemPrice"
            ngModel
            #price="ngModel"
            matInput
            required
            min="1"
            pattern="^[0-9]*$"
          />
        </mat-form-field>
      </p>
      <div *ngIf="!price.valid && price.touched" style="color: red">
        <p *ngIf="price.errors?.required">Item price required</p>
        <p *ngIf="price.errors?.min">Invalid price entered</p>
        <p *ngIf="price.errors?.pattern">Please enter price as a whole number</p>
      </div>
      <button
        class="btn"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Insert
      </button>
      <button class="btn" type="reset" mat-raised-button color="warn">
        Reset
      </button>
    </form>
  </mat-card-content>
</mat-card>
